@import "/src/Components/scss/variables.scss";

.plans-gym {
  width: 97%;
  height: 100vh;

  &__title-img {
    align-content: center;
    width: 98%;
  }
  &__sections {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__list {
    align-items: center;
    align-content: center;
  }
}
@media (orientation: landscape) and(max-width: 780px) {
  img {
    width: 600px;
    height: 300px;
  }
}

@media (orientation: portrait) {
  img {
    width: 390px;
    height: 160px;
  }
}
