@use "../../../Components/scss/_butons.scss";

.diet-main {
  display: flex;
  justify-content: space-around;
  .diet-main__total-column-mobile {
    display: none;
  }
  &__title {
    text-align: center;
  }
  &__first-column {
    display: flex;
    flex-direction: column;
    margin: 1rem, 0.5rem;
    padding: 0.5rem;
    height: auto;
  }

  &__btn-of-product {
    display: flex;
    flex-direction: column;
  }
  &__btn-sort {
    display: flex;
    width: 35%;
  }

  &__btn-of-products {
    @extend .primery-button;
    margin: 0;
    min-width: 5rem;
    height: 40px;
  }

  &__calculate-column {
    width: 40%;
    padding: 0.5rem;
    height: auto;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 253, 253);
    border-left: solid 1px;
    border-right: solid 1px;
  }
  &__total-column {
    padding: 0.5rem;
  }
}

@media screen and (max-width: 780px) {
  .diet-main {
    display: flex;
    flex-direction: column;
    .diet-main__total-column {
      display: none;
    }
    .diet-main__total-column-mobile {
      display: flex;
      border-bottom: solid 1px;
      border-top: solid 1px;
      margin: 10px, 10px;
      padding: 1rem;
    }
    .diet-main__calculate-column {
      width: 90%;
      padding: 1rem;
      border-left: none;
      border-right: none;
    }
    .diet-main__first-column {
      margin: 1rem;
      width: 98%;
    }
  }
}
