@use "./../../../Components/scss/_butons.scss";

.products-added {
  width: 100%;
  height: 50px;
  padding: 0px;
  margin: 0px;
  background-color: rgb(249, 249, 249);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  &__name {
    width: 33%;
    padding: 0px;
  }
  &__input-number {
    width: 33%;
    padding: 0% 40px;
  }
  &__calculate {
    display: flex;
    align-items: flex-end;
    width: 30px;
    height: 20px;
    border-radius: 5px;
    color: #2362ddc7;
    border-block-color: blue;
  }
  &__buttons {
    display: flex;
    justify-items: center;
    align-items: center;
  }

  &__button {
    @extend .second-button;
  }
  &__input-btn {
    display: flex;
  }
  &__btn-minus {
    background-image: none;
    background: #f05757;
    border: 1px solid #f2c5c5;
    color: #3e3a3a;
    cursor: pointer;
    display: inline-block;
    font-family: "korolev", "fira-sans", "Helvetica Neue", Helvetica, Arial,
      sans-serif;
    font-weight: 700;
    margin: 0;
    box-sizing: border-box;
    vertical-align: middle;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  &__btn-plus {
    background-image: none;
    background: #f05757;
    border: 1px solid #f2c5c5;
    color: #3e3a3a;
    cursor: pointer;
    display: inline-block;
    font-family: "korolev", "fira-sans", "Helvetica Neue", Helvetica, Arial,
      sans-serif;
    font-weight: 700;
    margin: 0;
    box-sizing: border-box;
    vertical-align: middle;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  &__number-input {
    width: 3rem;
  }
}
