// .btn {
//   width: 7rem;
//   margin: 0 0.4rem;
//   height: 2rem;
//   font-weight: bold;
//   border-radius: 10px;
//   cursor: pointer;
//   background-color: rgb(4, 166, 247);
//   color: rgb(0, 6, 6);
// }
// .btn:active {
//   border: none;
// }
// .btn:hover,
// .btn:active {
//   background-color: rgb(4, 134, 199);
//   color: rgb(243, 243, 243);
// }
// .btn1 {
//   width: 8rem;
//   margin: 0 0.4rem;
//   height: 2rem;
//   font-weight: bold;
//   border-radius: 10px;
//   cursor: pointer;
//   background-color: rgb(3, 72, 163);
//   color: rgb(255, 255, 255);
// }
// .btn1:active {
//   border: none;
// }
// .btn1:hover,
// .btn1:active {
//   background-color: rgb(2, 42, 94);
//   color: rgb(255, 255, 255);
// }
// .btn2 {
//   width: 9rem;
//   margin: 0 0.4rem;
//   height: 2rem;
//   font-weight: bold;
//   border-radius: 10px;
//   cursor: pointer;
//   background-color: aqua;
//   color: cadetblue;
// }
// .btn2:active {
//   border: none;
// }
// .btn2:hover,
// .btn2:active {
//   background-color: aquamarine;
//   color: blue;
// }

@use "../scss/variables.scss" as *;

%btn {
  width: 6rem;
  margin: 0 0.4rem;
  height: 2rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  &:active {
    border: none;
  }
}
.primery-button {
  @extend %btn;
  background-color: $primery-color;
  color: $forth-color;
  &:hover,
  &:active {
    background-color: $secendary-color;
    color: $third-color;
  }
}

.second-button {
  @extend %btn;
  background-color: $secendary-color;
  color: $third-color;
  &:hover,
  &:active {
    background-color: $primery-color;
    color: $forth-color;
  }
}
.third-button {
  @extend %btn;
  background-color: $primery-color;
  color: $forth-color;
  &:hover,
  &:active {
    background-color: $secendary-color;
    color: $third-color;
  }
}
