@use "../.././Components/scss/_butons.scss";
@use "../.././Components/scss/variables.scss";
.products-cart {
  width: 98%;
  height: 12rem;
  padding: 0px;
  margin: 0px;
  // border-style: ridge;
  border-radius: 14px;
  background-color: rgb(253, 254, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e6e6e6;
  &__img {
    width: 10rem;
    height: 10rem;
    padding: 2rem;
  }
  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  &__input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 1rem;
  }
  &__number {
    width: 3rem;
    // height: 20px;
    // padding: 1rem;
  }

  &__buttons {
    display: flex;
    /* justify-content: space-around; */
    justify-items: center;
    align-items: center;
  }
  &__button {
    @extend .primery-button;
    width: 80%;
    width: 3rem;
  }
  &__rating {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 5px;
    border-bottom: solid 1px;
  }
  .btn-minus {
    background-image: none;
    background: #fae7e7;
    border: 1px solid #fae7e7;
    color: #d10b10;
    cursor: pointer;
    display: inline-block;
    font-family: "korolev", "fira-sans", "Helvetica Neue", Helvetica, Arial,
      sans-serif;
    font-weight: 700;
    margin: 0;

    // font-size: 1.6rem;
    // line-height: 3.2rem;
    box-sizing: border-box;
    vertical-align: middle;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .btn-plus {
    background-image: none;
    background: #fae7e7;
    border: 1px solid #fae7e7;
    color: #d10b10;
    cursor: pointer;
    display: inline-block;
    font-family: "korolev", "fira-sans", "Helvetica Neue", Helvetica, Arial,
      sans-serif;
    font-weight: 700;
    margin: 0;

    // font-size: 1.6rem;
    // line-height: 3.2rem;
    box-sizing: border-box;
    vertical-align: middle;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .input-btn {
    display: flex;
  }
}
// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }
@media screen and (max-width: 780px) {
  .input-btn {
    display: flex;
  }
  .products-cart__button {
    position: relative;
    top: 4rem;
    right: 2rem;
  }
  .products-cart__number {
    border: 2px solid #e6e6e6;
  }
  .btn-minus {
    background-image: none;
    background: #fae7e7;
    border: 1px solid #fae7e7;
    color: #d10b10;
    cursor: pointer;
    display: inline-block;
    font-family: "korolev", "fira-sans", "Helvetica Neue", Helvetica, Arial,
      sans-serif;
    font-weight: 700;
    margin: 0;

    // font-size: 1.6rem;
    // line-height: 3.2rem;
    box-sizing: border-box;
    vertical-align: middle;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .btn-plus {
    background-image: none;
    background: #fae7e7;
    border: 1px solid #fae7e7;
    color: #d10b10;
    cursor: pointer;
    display: inline-block;
    font-family: "korolev", "fira-sans", "Helvetica Neue", Helvetica, Arial,
      sans-serif;
    font-weight: 700;
    margin: 0;

    // font-size: 1.6rem;
    // line-height: 3.2rem;
    box-sizing: border-box;
    vertical-align: middle;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
