@use "../scss/-butons.scss";
@use "../scss/variables.scss";

.portal-product {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(21, 20, 21, 0.765);
  z-index: 1000;
  &__main {
    position: fixed;
    top: 5%;
    left: 25%;
    width: 50%;
    height: 90%;
    background-color: rgba(253, 245, 253, 0.728);
    z-index: 1000;
    align-items: center;
  }
  &__home {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  // .produscts-container {
  //   display: flex;
  //   width: 400px;
  //   padding: 20px;
  //   flex-wrap: wrap;
  //   justify-content: space-around;
  // }

  // .products-line {
  //   width: 90%;
  //   padding: 5px;
  //   margin: 5px;
  //   border-style: ridge;
  //   border-radius: 14px;
  //   box-shadow: 5px gray;
  //   display: flex;
  //   align-items: center;

  //   background-color: rgb(141, 141, 141);
  // }
  &__img-single-product {
    padding-top: 20px;
    width: 400px;
    height: 400px;
  }
  // .buttons {
  //   display: flex;
  //   /* justify-content: space-around; */
  //   justify-items: center;
  //   align-items: center;
  // }
  &__button {
    border-radius: 10px;
    width: 85px;
    height: 30px;

    color: rgb(2, 2, 2);
    background-color: rgb(108, 118, 252);
  }
  // .filters {
  //   background-color: aquamarine(192, 105, 192);
  //   color: white;
  //   padding: 40px;
  //   display: flex;
  //   flex-direction: column;
  //   width: 20%;
  //   height: 86vh;
  // }
  // .filters span {
  //   padding-bottom: 1, 2rem;
  // }
  // .filterss {
  //   padding: 0.6rem;
  // }

  // .button-clear {
  //   border-radius: 10px;
  //   width: 150px;
  //   height: 40px;
  //   color: black;
  //   background-color: rgb(246, 246, 246);
  // }

  &__price-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-right: 17px;
  }
  &__deliver {
    display: flex;
  }
  &__icon-deliver {
    width: 30px;
    height: 30px;
  }
  &__price {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    padding-right: 10px;
    font-size: 25px;
  }
}

// .portal-main {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background-color: rgba(0, 0, 0, 0.765);
//   z-index: 1000;
// }
// .portal {
//   position: fixed;
//   top: 5%;
//   left: 5%;
//   width: 90%;
//   background-color: rgb(249, 249, 249);
//   z-index: 1000;
//   align-items: center;
// }
// .bix {
//   display: flex;
//   flex-direction: column;
// }
