.main-heder {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-items: center;
  align-items: center;
  /* background-color: rgba(89, 131, 252, 1);
  background-image: linear-gradient(
    172deg,
    rgba(89, 131, 252, 1) 0%,
    rgba(138, 152, 190, 1) 100%
  ); */
}
.title-produsts {
  text-align: center;
}

.home {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}
.main-foot {
  display: flex;
  width: 100%;
  font-family: "Manrope";
  height: 40vh;
  background-color: #0074d9;
  color: #dddddd;
}
.mian-foot1 {
  width: 30%;
  padding: 10px;
  font-family: "Righteous", cursive;
  color: #dddddd;
  text-align: center;
}
.mian-foot2 {
  width: 30%;
  padding: 10px;
  color: #dddddd;
  text-align: center;
}
.mian-foot3 {
  width: 30%;
  padding: 10px;
  color: #dddddd;
  text-align: center;
}

.main-img {
  width: 80%;
  height: 80%;
  display: flex;
  border-radius: 30px;
  -webkit-box-shadow: 1px 0px 18px 0px rgba(98, 108, 227, 1);
  -moz-box-shadow: 1px 0px 18px 0px rgba(98, 108, 227, 1);
  box-shadow: 1px 0px 18px 0px rgba(98, 108, 227, 1);
}
.arrow-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0);
}
.arrow-right {
  width: 10%;
  height: 80%;
  background-color: aliceblue(105, 13, 191);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
}
.arrow-right1 {
  width: 90px;
  height: 90px;
}
.arrow-left1 {
  width: 90px;
  height: 90px;
}
.main-foot {
  color: rgb(13, 24, 36);
}
