.line-home {
  display: flex;
  width: 20%;
  padding: 5px;
  margin: 5px;
  border-style: ridge;
  border-radius: 14px;
  box-shadow: 5px rgb(129, 221, 220);
  border-color: aqua;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  justify-items: center;
  color: rgb(86, 124, 11);
  background-color: rgba(97, 41, 41, 0.511);
}
.img-home {
  width: 150px;
  height: 160px;
}
.description-home {
  color: burlywood;
}
