@use "../.././Components/scss/_butons.scss";
@use "../.././Components/scss/variables.scss";
.filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  background-color: #cecdcdee;
  color: white;
  width: 100%;
  height: 15%;
  border-radius: 10px;
  padding: 0.6rem 0rem;
  margin: 1rem 0rem;

  .filter__mobile {
    display: none;
  }
  label {
    color: black;
  }
  &__input_check {
    cursor: pointer;
  }
  &__input_search {
    display: flex;
    border-radius: 10px;
    padding: 2px;
    border: 1px solid;
    box-shadow: 5px 5px 4px #888888;
    background-color: white;
    cursor: pointer;
    &:hover {
      box-shadow: 0px 0px 10px 0px #000000e2;
    }
    &__filter {
      display: flex;
      background-color: none;
      border-color: none;
      width: 10rem;
      height: 30px;
      border-radius: 0px;
      padding: 0px;
      margin: 0px;
      border-width: 0px;
      cursor: pointer;
    }

    &__filter:focus-visible {
      outline: none;
    }
  }

  &__btn-search {
    background-color: rgb(255, 255, 255);
    color: rgb(9, 9, 9);
    border-color: #7aaedc;
    height: 30px;
    width: 40px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    cursor: text;
  }

  &__btn-clear {
    @extend .fourth-button;
    border-color: #ed3333;
    cursor: pointer;
  }
}
@media screen and (max-width: 780px) {
  .filter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    padding: 1rem 0;
    background-color: rgb(1, 7, 12);
    .filter__sort {
      display: none;
    }
    .filter__mobile {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30vh;
      height: 3rem;
      background-color: #ed3333;
      border-radius: 2rem;
      margin-top: 1rem;
      .filter__mobile-isOpen {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.58);
        z-index: 1000;
      }
      .filter__mobile-float {
        width: 70vw;
        height: auto;
        position: fixed;
        top: 0rem;
        right: 0;
        z-index: 10;
        background-color: rgb(255, 255, 255);
        color: rgb(185, 179, 179);
        text-align: start;
        display: flex;
        flex-direction: column;
        list-style: none;
        transform: translateY(10px);
      }
      .filter__mobile_content {
        width: 98%;
        height: 30%;
        text-align: center;
        justify-items: center;
        padding: 1rem;
        background-color: rgb(255, 255, 255);
        // border-bottom: 1px solid;
      }
      .filter__mobile_content2 {
        width: 98%;
        height: 2.5rem;
        text-align: center;
        background-color: rgba(252, 13, 0, 0.984);
        border-radius: 2rem;
        border-bottom: 1px solid;
        color: aliceblue;
        margin: 1rem 0;
      }
    }
  }
}
@media (orientation: landscape) and (max-width: 780px) {
  .filter__mobile {
    width: 800px;
  }
}
@media (orientation: portrait) {
  .filter__mobile-open {
    width: 180px;
  }
}
