* {
  box-sizing: border-box;
}
.title {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 96vw;
  min-width: 80vw;
  list-style: none;
  align-items: center;
  text-decoration: none;
  border-radius: 0px;
  border-bottom: solid 1px;
  padding: 10px 10px;

  background-color: rgba(251, 250, 250, 0.564);
}
.nav-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  /* width: calc(100% - 50px); */
}
.nav a {
  text-decoration: none;
  color: black;
  padding: 5px;
  margin: 5px;
  font-family: "Bree Serif", serif;
  display: flex;

  border-radius: 15px;
}
.nav a:hover {
  color: rgb(136, 141, 146);
}
.nav a:active {
  color: rgb(136, 141, 146);
}

.title-sklep {
  font-family: Righteous;
  color: #001f3f;
  padding: 5px;
  border-radius: 10px;
  width: 200px;
}
/* 
.home-main {
  width: 450px;
  height: 450px;
  background-color: rgba(128, 255, 0, 0.326);
}
.profile-main {
  width: 450px;
  height: 450px;
  background-color: rgba(0, 208, 255, 0.326);
}
.about-main {
  width: 450px;
  height: 450px;
  background-color: rgba(216, 235, 8, 0.326);
} */

.icon-heder {
  width: 30px;
  height: 30px;
}
