.plan-heder {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  background-color: rgba(89, 131, 252, 1);
  background-image: linear-gradient(
    90deg,
    rgba(89, 131, 252, 1) 0%,
    rgba(41, 53, 86, 1) 100%
  );
}
.plan-heder-title {
  display: flex;
  width: 40%;
  height: 30vh;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.plans-main {
  display: flex;
  width: 100%;
  padding: 25px;
  margin: 40px;
  height: 50vh;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.plan {
  width: 200px;
  height: 200px;
  font-family: "Bree Serif", serif;
  border-radius: 50%;
  background-color: rgb(232, 232, 237);
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  align-content: center;
}
.plan:hover,
.plan:active {
  background-color: rgba(11, 156, 240, 0.959);
  color: rgb(209, 206, 206);
  border: none;
}

.plan a {
  text-decoration: none;
  color: black;
}
.icon {
  width: 70px;
  height: 70px;
}
