.home-prod {
  display: flex;
  flex-direction: column;
  &__main-products {
    background-color: rgb(255, 255, 255);
    width: 100%;
    min-width: 90vmin;
    height: 86vh;
    height: 80vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    gap: 1rem;
  }
}
@media screen and (max-width: 780px) {
}
