@use "../scss/_butons.scss" as *;
.products {
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
  flex-direction: column;
  width: 22%;
  min-width: 20%;

  height: 90%;
  // max-height: 60vmin;

  padding: 0.2rem;
  margin: 0.2rem;
  //
  border-radius: 14px;
  box-shadow: 0px 0px 10px 0px #5f5f5fe2;
  background-color: rgb(255, 255, 255);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  gap: 10px 20px;
  &:hover {
    box-shadow: 0px 0px 10px 0px #000000e2;
  }
  &__title {
    text-align: center;
    cursor: pointer;
  }
  &__img {
    width: 90%;
    height: 40%;
    cursor: pointer;
  }
  &__deliver {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
  }
  &__icon-deliver {
    width: 2rem;
    height: 2rem;
  }
  &__pice-and-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 1px;
  }
  &__price {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    padding-right: 10px;
    font-size: 25px;
  }

  &__stars {
    color: gold;
    width: 20px;
    height: 20px;
  }
  &__rating {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 5px;
    border-bottom: solid 1px;
  }
}
@media (orientation: landscape) and(max-width: 780px) {
  .products {
    width: 40vw;
    height: 85%;
    max-height: 50rem;
    display: flex;
    flex-direction: column;
  }
  .contnetProducts {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    padding: 2rem;
    width: 100%;
    height: 40%;
  }
  .products__img {
    width: 90%;
    height: 30%;
    cursor: pointer;
  }
}
@media (orientation: portrait) {
  .products {
    width: 98%;
    max-width: 99%;
    height: 35rem;
    max-height: 50rem;
  }
}
